
{{#if uploading}}
  {{paper-progress-linear value=uploadFraction}}
{{else}}
  {{#file-upload name="photos"
                 accept="image/*"
                 multiple=true
                 onfileadd=(route-action "uploadImage")}}
    <a id="upload-image" tabindex=0>Add an Image.</a>
  {{/file-upload}}
{{/if}}
