<div class="jumbo">
  <h2>About Mod DB</h2>
  <p>
    This is a great place to put Dominions 4 mods. There will be lots of mods here one day.
  </p>
  {{#link-to 'contact' class="button"}}
    Contact Us
  {{/link-to}}
</div>