{{#paper-sidenav-container class="site-nav-container"}}
  {{#paper-sidenav class="md-whiteframe-z2 site-sidenav" lockedOpen="gt-sm"
                   open=isSidenavOpen onToggle=(action (mut isSidenavOpen))}}
    {{#paper-toolbar class="site-content-toolbar" tall=true}}
      <div class="logo layout-column layout-align-center-center">
        <div class="container">
          <img src="/ophanim.png">
          <div class="dom4-name">Dominions 4</div>
        </div>
        <div class="moddb-name">ModDB</div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}

      {{#paper-list}}
        {{#menu-item onClick=(transition-to "index")}}Introduction{{/menu-item}}
        {{#menu-item  onClick=(action "filterMods" "all")}}All Mods{{/menu-item}}

        {{#menu-item onClick=(action "toggleExpandedItem" "nationTypes") expanded=nationTypesExpanded canExpand=true}}Nations{{/menu-item}}

        <div class="submenu">
          {{#liquid-if nationTypesExpanded}}
            {{#submenu-item onClick=(action "filterMods" "ea")}}Early Era{{/submenu-item}}
            {{#submenu-item onClick=(action "filterMods" "ma")}}Middle Era{{/submenu-item}}
            {{#submenu-item onClick=(action "filterMods" "la")}}Late Era{{/submenu-item}}
            {{#submenu-item onClick=(action "filterMods" "xa")}}Others{{/submenu-item}}
          {{/liquid-if}}
        </div>

        {{#menu-item onClick=(action "filterMods" "balance")}}Balance Mods{{/menu-item}}
        {{#menu-item onClick=(action "filterMods" "tc")}}Total Conversions{{/menu-item}}
        {{#menu-item onClick=(action "filterMods" "content")}}Content Mods{{/menu-item}}

        {{#menu-item onClick=(action "filterMods" "others")}}Others{{/menu-item}}
      {{/paper-list}}
      {{paper-divider}}
      <div class="layout-column layout-align-center-stretch">
        <br>
        {{#paper-button raised=true primary=true onClick=(action "showDialog")}}Upload{{/paper-button}}
      </div>

    {{/paper-content}}
  {{/paper-sidenav}}

  <div class="flex layout-column" tabindex="-1" role="main">
    {{#if showDialog}}
      {{upload-dialog closeDialog=(action "closeDialog")}}
    {{/if}}
    {{#each filteredMods as |mod|}}
      {{#link-to "mods.show" mod}}
        {{mod-listing mod=mod}}
      {{/link-to}}
    {{/each}}
    {{outlet}}
  </div>
{{/paper-sidenav-container}}
