<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Please report any issues with the mod database on <a href="https://github.com/Aciho/ModDBFirebase/issues">our github page</a>.</p>
  {{#link-to 'about' class="button"}}
    About
  {{/link-to}}
</div>